extends layout 

block content

    div(class='get-started text-center mt-5')
        h1 Login to create your very own Notes!
        
        div(class='mt-4 mb-2') 
            a(href='/login') Login
        div 
            a(href='/signup') Signup