extends layout 

block content

    div(class='text-center')
        div(class='mt-5 mb-4')
            h2 Hi, !{user.userName}!
            a(href='/logout') Logout

        h3 Number of things left to do: !{todosLeft}

        form(action="/todos/addTodo", method="POST" class='my-4')
            div(class='form-floating mb-2')
                input(type="text", name="todoItem", class='form-control' placeholder="What do you need to do..." required)
                label(for='todoItem') What do you need to do...
            
            button(type="submit" class='w-100 btn btn-lg btn-primary') Add

        ul(class='px-0 my-5')
            each element in todos 
                if element.completed
                    li(class="done item my-3 py-3" data-id= element.id)
                        span(class="todo-task ps-3")= element.todo  
                        span(class='fa fa-trash trash-icon')      
                else
                    li(class="not-done item my-3 py-3" data-id= element.id)
                        span(class="todo-task ps-3")= element.todo
                        span(class='fa fa-trash trash-icon')