extends layout 

block content

    a(href='/logout') Logout

    h2 Hi, !{user.userName}!
    h3 Number of things left to do: !{todosLeft}

    form(action="/todos/addTodo", method="POST") 
        input(type="text", name="todoItem", placeholder="What do you need to do..." required)
        button(type="submit") Add

    ul 
        each element in todos 
            li(class="item" data-id= element.id)
                if element.completed
                    span(class="done")= element.todo
                else
                    span(class="not-done")= element.todo
                <span class='fa fa-trash'></span>