/* app name */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* body */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap');

body {
    background-color: #DEF5E5;
    font-family: 'Montserrat', sans-serif;
}

.app-name {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-top: 20px;
}

.app-name a {
    color: #B73E3E;
    text-decoration: none;
}

.form-signup .form-floating:focus-within, .form-login .form-floating:focus-within {
    z-index: 2;
}

.form-signup, .form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

/* LOGIN page make form corners sharp*/
.form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;   
}

.form-login input[type='password'] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* SIGNUP page make form corners sharp*/
.form-signup input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; 
}

.form-signup input[type="email"], .form-signup input[name="password"] {
    border-radius: 0;
    border-radius: 0; 
}

.form-signup input[name="confirmPassword"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* TODOS */
form {
    max-width: 400px;
    margin: auto;
}

li {
    list-style-type: none;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.todo-task {
    flex-grow: 1;
    max-width: 300px;
    overflow-wrap: break-word;
}

.trash-icon {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* TODO task is completed - green background + text strike-through */
.done {
    color: gray;
    border: 2px solid #8EC3B0;
    background-color: #BCEAD5;
    font-weight: 300;
}

.done .todo-task {
    text-decoration: line-through;
}

/* TODO task is not completed - red background */
.not-done {
    border: 2px solid #e24141;
    background-color: #e3aaaa;
    font-weight: 900;
}